/*

svg1 {
  color: red;
}

div1#gista-embed-button {
  background: #1378D1 !important;
  background-color: #1378D1 !important;
  mix-blend-mode: normal !important;
  background-blend-mode: normal !important;
  width: 64px !important;
  height: 64px !important; 
  padding: 4px !important; 
}

*/